{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Recently Added Skills{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sandbox.skills') }}">New Skills</a>
  {% endif %}
{% endblock %}


{% block content %}
  <br>
  <h3>Here are your 5 most recently added skills: </h3>

  {% for skill in skills %}

  <article class="post">
    <p class="body">{{ skill[2] }}</p>
  </article>
   {% endfor %}

   <br>
   <h3>Here you can export your skills to your resume:</h3>

   <form method="post">
     <input type="submit" name="submit_button" value="Export!!!">
   </form>

{% endblock %}



{% block header2 %}
  <h1>Current Openings</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sandbox.openings') }}">New Opening</a>
  {% endif %}
{% endblock %}


{% block content2 %}

  <br>
  <div class="all_opening_containers">
    {% for op in openings %}
    <div class="opening_containter">
      <h2>{{ op[3] }}</h2>
      <span class="dot"></span>
      <h3>{{ op[2] }}</h3>
      <br>
      <p class="notes_todo">To-Do:</p>
      <p class="notes_todo">Notes:</p>
      <div>
        {% for tos in op[6].splitlines() %}
          <p>{{ tos }}</p>
        {% endfor %}
      </div>
      <div>
        {% for nos in op[5].splitlines() %}
          <p>{{ nos }}</p>
        {% endfor %}
      </div>
      <br><br>
      <p>Deadline: {{ op[7] }} | Applied: {{ op[8] }} | Modified: {{ op[9] }}</p>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block header3 %}
  <h1>Export Resume</h1>

{% endblock %}
