{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Recently Added Skills{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sandbox.skills') }}">New Skills</a>
  {% endif %}
{% endblock %}


{% block content %}
  <br>
  <h3>Here are your 5 most recently added skills: </h3>

  {% for skill in skills %}

  <article class="post">
    <p class="body">{{ skill['skill'] }}</p>
  </article>
   {% endfor %}

  <br>
  <h3>Here you can export your skills to your resume:</h3>
  <button onclick="location.href = 'resume';" id="myButton" class="float-left submit-button">Export!</button>
  <br><br>
{% endblock %}



{% block header2 %}
  <h1>Current Openings</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sandbox.openings') }}">New Opening</a>
  {% endif %}
{% endblock %}


{% block content2 %}

  <br>
  <p>Hello there!</p>

{% endblock %}
