{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Recently Added Skills{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('sandbox.skills') }}">New Skills</a>
  {% endif %}
{% endblock %}


{% block content %}
  <br>
  <h3>Here are your 5 most recently added skills: </h3>

  {% for skill in skills %}

  <article class="post">
    <p class="body">{{ skill['skill'] }}</p>
  </article>
   {% endfor %}

  <br>
  <h3>Here you can export your skills to your resume:</h3>

  <br>
  <a href="{{ url_for('sandbox.resume') }}" download="new.txt">Download</a>
  <br>

  <br>
  <a href="{{ url_for('sandbox.resume') }}" download="new.txt">Download2</a>
  <br>

  <form method="get" action="{{ url_for('sandbox.resume') }}">
    <button type="submit">Export!!</button>
  </form>

  <button
    onclick="location.href = 'resume';" 
    id="myButton" 
    class="float-left submit-button">Export!
  </button>

  {% if g.user %}
  <a class="action" href="{{ url_for('sandbox.resume') }}">New Resume</a>
  {% endif %}

{% endblock %}
