{% extends 'base.html' %}

{% block title %}Resume Sandbox{% endblock %}

{% block header %}
  <h1>Welcome!</h1>
{% endblock %}

{% block content %}

  <h3 style="color:black" >Easily Create a Tailored Resume for Any Job  </h3>
  <br>
  <h4>With Resume Sandbox, you can store all of your relevant skills, experience and prospective jobs in one convenient location.</h4>
  <br>
  <h4>Just login, enter your information, and when you're ready, export the relevant information to a convenient text document that can be formatted to fit your needs </h4>

{% endblock %}
